@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Solitreo&display=swap');

body {
  margin: 0;
  font-family: "Jost", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Jost", "Roboto";
}

.container {
  border: 1px solid red;
}

nav {
  height: 70px;
  display: flex;
  padding: 15px 26px;
  box-shadow: -1px -2px 5px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: -1px -2px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px -2px 5px 1px rgba(0,0,0,0.3);
}

nav img {
  /* height: 65px; */
   
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

.hero img {
  max-width: 400px;
}

.hero .bottom-section > h1, p  {
  margin-left: 140px;
}

.hero .bottom-section > p {
  margin-top: -14px;
  width: 70%;
}


/* ///////////////////////////////// CARD /////////////////////////////// */

.card-container {
  display: flex;
  
}

.card {
  margin-left: 20px;
  padding: 30px;
  max-width: 206px;
  margin-bottom: 50px;
}

.top-section {
  position: relative;
}

.top-section img {
  width: 100%;
}

.top-section span {
  background-color: white;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  left: 10px;
  padding: 4px 8px;
}

.card .bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.bottom-section .description {
  text-align: left;
  width: 100%;
}

.bottom-section .description p {
  width: 100%;
  margin: 0;
}

.bottom-section .description p:nth-child(1) {
  color: #222222;
  font-size: 12px;
} 

.bottom-section .description p:nth-child(2) {
  font-size: 12px;
}
.bottom-section .description p:nth-child(2) span {
  font-weight: bold;
}


.bottom-section .location {
  vertical-align: center;
}

.bottom-section .location .icon {
  margin-right: 10px;  
}

.bottom-section .location .icon i {
  margin-right: 5px;
}

.bottom-section .location .small {
  color: #222222;
  font-weight: 400;
}


.bottom-section .location .lighter-span {
  color: #918E9B; 
  font-size: 13px;
  line-height: 13.2px;
  font-weight: 400;
}
